<section class="contacts">
  <div class="contacts__container container">
    <div class="contacts__text">
      <h2 class="contacts__title title">
        Контакты
      </h2>

      <div class="contacts__item">
        <h3 class="contacts__subtitle">
          Главный офис

          <span class="tooltip">
            <button class="tooltip__btn" aria-describedby="office" aria-label="Описание адреса">
              <svg xmlns='http://www.w3.org/2000/svg'>
                <use href='./img/sprite.svg#tooltip'></use>
              </svg>
            </button>

            <span class="tooltip__txt" role="tooltip" id="office">
              <span class="visually-hidden">Тултип: </span>
              Адрес и&nbsp;телефон для корреспонденции, инвесторов. Вопросы о&nbsp;доставке, качестве обслуживания и&nbsp;товара просьба задавать в&nbsp;отдел продаж
            </span>
          </span>
        </h3>

        <a href="#" class="contacts__phone">
          +7 800 789 8  9 89
        </a>

        <span class="contacts__address">
          г. Санкт-Петербург, Комсомольская, 43 к1
        </span>
      </div>

      <div class="contacts__item">
        <h3 class="contacts__subtitle">
          Отдел продаж
        </h3>

        <a href="#" class="contacts__phone">
          +7 800 789 89 89
        </a>

        <span class="contacts__address">
          г. Санкт-Петербург, Комсомольская, 43 к1
        </span>
      </div>

      <ul class="social">
        <li class="social__item">
          <a href="#" class="social__link social__link--vk" aria-label="Мы во Вконтакте">

          </a>
        </li>

        <li class="social__item">
          <a href="#" class="social__link social__link--insta" aria-label="Мы в Инстаграме">
            
          </a>
        </li>
      </ul>
    </div>

    <div class="contacts__map" id="map">
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af555f37433178c075fdf0ffa53780c78b1c815b8eb2b7ad45b68429310769ca2&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
  </div>
</section>