<section class="team">
  <img src="./img/team-figure.svg" alt="" class="team__figure" aria-hidden="true">

  <div class="team__container container">
    <h2 class="team__title title">
      Наша команда
    </h2>

    <ul class="team__list grid">
      <li class="team__item">
        <img src="./img/team1.jpg" alt="Максим Золотарев" class="team__img">

        <strong class="team__subtitle">
          Максим Золотарев
        </strong>

        <span class="team__post">
          Администратор
        </span>
      </li>

      <li class="team__item">
        <img src="./img/team2.jpg" alt="Максим Золотарев" class="team__img">

        <strong class="team__subtitle">
          Максим Золотарев
        </strong>

        <span class="team__post">
          Администратор
        </span>
      </li>

      <li class="team__item">
        <img src="./img/team3.jpg" alt="Максим Золотарев" class="team__img">

        <strong class="team__subtitle">
          Максим Золотарев
        </strong>

        <span class="team__post">
          Администратор
        </span>
      </li>

      <li class="team__item">
        <img src="./img/team4.jpg" alt="Максим Золотарев" class="team__img">

        <strong class="team__subtitle">
          Максим Золотарев
        </strong>

        <span class="team__post">
          Администратор
        </span>
      </li>

      <li class="team__item">
        <img src="./img/team5.jpg" alt="Максим Золотарев" class="team__img">

        <strong class="team__subtitle">
          Максим Золотарев
        </strong>

        <span class="team__post">
          Администратор
        </span>
      </li>

      <li class="team__item">
        <img src="./img/team6.jpg" alt="Максим Золотарев" class="team__img">

        <strong class="team__subtitle">
          Максим Золотарев
        </strong>

        <span class="team__post">
          Администратор
        </span>
      </li>
    </ul>
  </div>
</section>